/* General styles */
body {
    height: 100%;
    width: 100%;
    margin-left: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}
.logo{
    width: 23%;
    margin: 0 auto;

}
.content {
    margin: 0 auto;
    width: 88%;
    height: 35%;
    
}

.swiper-button-prev,
  .swiper-button-next {
color: white !important;
  }


.swiper-container {
    margin: 0 auto;
    height: 35%;
    width: 94%;
    border-radius: 4px;
    overflow: hidden;
  }
  .swiper-wrapper {

  }
  .swiper-slide {
  }
  
.slick-prev:before,
.slick-next:before {
}

.slider img{
    object-fit:contain;
    border-radius: 1rem;

}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;

  }



.logos .tiktok-image{
    width: 40px;
    height: 40px;

}.logos .insta-image{
    width: 40px;
    height: 40px;

}.logos .facebook-image{
    width: 40px;
    height: 40px;

}

.logos .snap-image{
    width: 40px;
    height: 40px;
}

.welcome-image{
    width: 58%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;


}

video{
    display: block;
margin: 0 auto;
width: 80%;
border-radius: 1rem;
}


.nav-bar {
    background-color: black; /* Match the background color */
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


a:link { 
    text-decoration: none; 
    color: black;
  } 
  a:visited { 
    text-decoration: none; 
    color: black;
  } 



.title-box {
    width: 90%;
    border: 7px solid white; /* Add the white border */
    padding: 20px 0px;
    margin: 0 auto;
}

.general-text{
    font-size: 30px;
    color: orange;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
}


.halal-message{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
}

.slider1{
    
    margin: auto;
    width: 90%;
    overflow-x: clip;
    white-space: nowrap;

}

@keyframes scroller {

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(calc(-444px*11) - 51px));
    }
}

.duplicated-wrapper {
    margin-right: 4px; /* Adjust the margin according to your desired gap */
    display: inline-block; /* Ensures each wrapper is displayed in a line */
}

.food-images{
    display: inline-block;
animation: scroller 52s linear infinite;
animation-direction: reverse;
}



.food-images img{
    height: 250px;
    width: 444px;
border-radius: 1rem;
transition: transform 0.2s ease;

}




.order-links{
    text-align: center;
}
.uber-image{
    border-radius: 1rem;
    width: 150px;
    height: 150px;

}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.justeat-image{
    border-radius: 1rem;
    width: 150px;
    height: 150px;


}
.deliveroo-image{
    border-radius: 1rem;
    width: 150px;
    height: 150px;
 

}




/* Banner styles */
.opening-banner {
    text-align: center;
    background-color: orange;
    color: black;
    padding: 1px;
    padding-bottom: 8px;

}

.our-banner {
    text-align: center;
    color: orange;
    padding: 48px;
    padding-top: 19px;
    padding-bottom: 0px;
    align-items: center;
    margin: 0 auto;
    background: none;
    border-bottom: 2px solid white;
    margin-left: 34%;
    margin-right: 34%;
    font-size: 23px;


}
.halal-image{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;

    }

.delivery-banner {
    text-align: center;
    background-color: orange;
    color: white;
    padding: 48px;
    padding-top: 19px;
    padding-bottom: 0px;
    display: table;
    margin: 0 auto;
    background: none;


}

.menu-button a img {
    width: 100%;
}


.menu-button {
    text-align: center;
    background-color: orange;
    color: black;
    padding: 48px;
    padding-top: 19px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 0px;
    display: table;
    margin: 0 auto;
    border-radius: 25px;

}
.our-banner1 a:link{
    text-decoration: none;
}





footer.contact-banner {
    background-color: orange;
    color: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    
}

.contact-info {
    color: black;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0;
}




/* Mobile-first approach */
/* Adjust styles for smaller screens */
@media all and (max-width: 800px) and (min-width:500px) {
    .swiper-container {
        height: 33% !important;

      }
}

@media all and (max-width: 985px) and (min-width:650px) {
    .content {
        margin: 0 auto;
        width: 92%;
        height: 25%;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 12px !important;
    }
    
    .slick-slide {
        margin: 0 2px;
      }
    .slider img{
        object-fit: cover;
    }
}
@media all and (max-width:650px) {
    .content {
        margin: 0 auto;
        width: 100%;
        height: 17%;
    }
    .slick-list{padding:0 20% 0 20% !important;}

    
    .slick-slide {
        margin: 0 2px;
      }
    .slider img{
        object-fit: cover;
    }
}


@media all and (max-width: 800px) 

  {

.swiper-button-prev,
.swiper-button-next {
display: none !important;
}

    .swiper-container {
        margin: 0 auto;
        height: 21%;
        border-radius: 4px;
        overflow: hidden;
      }

    .title-box {
        margin: 0 auto;
        border: 7px solid white; /* Add the white border */
        padding: 8px 0px;
    }
    .food-images img{
        height: 125px;
        width: 222px;
    border-radius: 1rem;
    transition: transform 0.2s ease;
    }

    @keyframes scroller {

        0%{
            transform: translateX(0);
        }
    
        100%{
            transform: translateX(calc(calc(-222px*11) - 51px));
        }
    }

.halal-message{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: bold;
}

.our-banner{
    color: orange;
    padding-top: 19px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 2px solid white;
    font-size: 100%;

}


.halal-image{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;

    }

video{
    display: block;
margin: 0 auto;
width: 89%;
border-radius: 1rem;
}

.welcome-image{
    width: 89%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;

}

.burger-image1{
border-radius: 1rem;
margin-left: 0px;
width: 100%;

}
.shawarma-image1{
    border-radius: 1rem;
    margin-right: 0px;
    width: 100%;
}
.deliveroo-image{
    width: 75px;
    height: 75px;
}
.uber-image{
    width: 75px;
    height: 75px;
}
.justeat-image{
    width: 75px;
    height: 75px;
}

.pizza-image1{
    
width: 100%;
}


.logo{
    width: 60%;
}


    a:link {
        text-decoration: none; 
       }
   
    .nav-bar {
        background-color: black; /* Match the background color */
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px 0px;

    }
   
            .general-text{
                font-size: 20px;
                color: orange;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
                font-weight: bold;
            }

            .mobile-break { display: none; }

        }

        

@media all and (max-width: 950px) and (min-width: 500px)

  {
    .title-box {
        border: 7px solid white; /* Add the white border */
        padding: 8px 0px;
        margin: 0 auto;
    }


  }

    
    
