/* General styles */
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}
.logo{
    width: 23%;
    margin: 0 auto;

}
.logos{
    display: flex;
    justify-content: center;
}

.logos .tiktok-image{
    width: 40px;
    height: 40px;

}.logos .insta-image{
    width: 40px;
    height: 40px;
    margin-left: 16px;

}.logos .facebook-image{
    width: 40px;
    height: 40px;

}

.logos .snap-image{
    width: 72px;
    height: 40px;

}

.welcome-image{
    width: 58%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;


}

video{
    display: block;
margin: 0 auto;
width: 80%;
border-radius: 1rem;
}


.nav-bar {
    background-color: black; /* Match the background color */
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


a:link { 
    text-decoration: none; 
    color: black;
  } 
  a:visited { 
    text-decoration: none; 
    color: black;
  } 


.title-box {
    border: 7px solid white; /* Add the white border */
    padding: 20px 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.general-text{
    font-size: 30px;
    color: orange;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
}


.halal-message{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
}



.food-images{
    display: flex;
}
.pizza-image1{
    border-radius: 1rem;
margin: 0 auto;
width: 33%;    
}

.burger-image1{
border-radius: 1rem;
float: left;
width: 33%;
}
.shawarma-image1{
    border-radius: 1rem;
    float: right;
    width: 33%;
}



.order-links{
    display: flex;
justify-content: center;
    column-gap: 130px;
}
.uber-image{
    border-radius: 1rem;
    width: 200px;
    height: 200px;

    

}
.justeat-image{
    border-radius: 1rem;
    width: 200px;
    height: 200px; 

}
.deliveroo-image{
    border-radius: 1rem;
    width: 200px;
    height: 200px;


}




/* Banner styles */
.opening-banner {
    text-align: center;
    background-color: orange;
    color: black;
    padding: 1px;
    padding-bottom: 8px;

}

.our-banner {
    text-align: center;
    color: orange;
    padding: 48px;
    padding-top: 19px;
    padding-bottom: 0px;
    display: table;
    margin: 0 auto;
    background: none;
    border-bottom: 2px solid white;
    font-size: 23px;


}

.delivery-banner {
    text-align: center;
    background-color: orange;
    color: white;
    padding: 48px;
    padding-top: 19px;
    padding-bottom: 0px;
    display: table;
    margin: 0 auto;
    background: none;
    border-bottom: 2px solid white;


}

.menu-button {
    text-align: center;
    background-color: orange;
    color: black;
    padding: 48px;
    padding-top: 19px;
    padding-left: 75px;
    padding-right: 75px;

    padding-bottom: 0px;
    display: table;
    margin: 0 auto;
    border-radius: 25px;

}
.our-banner1 a:link{
    text-decoration: none;
}





footer.contact-banner {
    background-color: orange;
    color: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    
}

.contact-info {
    color: black;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0;
}



/* Mobile-first approach */
/* Adjust styles for smaller screens */


@media all and (max-width: 800px) 

  {
    .title-box {
        border: 7px solid white; /* Add the white border */
        padding: 8px 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

.halal-message{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: bold;
}

video{
    display: block;
margin: 0 auto;
width: 89%;
border-radius: 1rem;
}

.welcome-image{
    width: 89%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;

}

.food-images{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 100%;
    

}
.burger-image1{
border-radius: 1rem;
margin-left: 0px;
width: 100%;

}
.shawarma-image1{
    border-radius: 1rem;
    margin-right: 0px;
    width: 100%;
}

.pizza-image1{
    
width: 100%;
}

.order-links{
    display: flex;
    column-gap: 30px;
}

.uber-image{
    border-radius: 1rem;
    width: 90px;
    height: 90px;

    

}
.justeat-image{
    border-radius: 1rem;
    width: 90px;
    height: 90px; 

}
.deliveroo-image{
    border-radius: 1rem;
    width: 90px;
    height: 90px;


}

.logo{
    width: 60%;
}


    a:link {
        text-decoration: none; 
       }
   
    .nav-bar {
        background-color: black; /* Match the background color */
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px 0px;

    }
   
            .general-text{
                font-size: 20px;
                color: orange;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
                font-weight: bold;
            }

            .mobile-break { display: none; }

        }

        

@media all and (max-width: 1050px) and (min-width: 750px)

  {
    .title-box {
        border: 7px solid white; /* Add the white border */
        padding: 8px 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
  }
